* {
  box-sizing: border-box;
}

body {
  font-family: $brand-font;
  color: $brand-main-color;
  font-size: $paragraph-size;
  z-index: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-sm-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-sm-4 {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}

.col-sm-5 {
  flex: 0 0 41.667%;
  max-width: 41.667%;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-sm-7 {
  flex: 0 0 58.333%;
  max-width: 58.333%;
}

.col-sm-8 {
  flex: 0 0 66.667%;
  max-width: 66.667%;
}

.col-sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-sm-10 {
  flex: 0 0 83.333%;
  max-width: 83.33%;
}

.col-sm-11 {
  flex: 0 0 91.667%;
  max-width: 91.667%;
}

.col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@include grid('sm');

@media(min-width: 350px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}