/* Colors */
$paragraph-color: #f58220;
$hover-color: red;
$background-navigation: #191919;
$brand-main-color: #dfe4ea;
$color: #a6a6a6;
$background: #ffffff;
$blue : #56819f;
$stat-color: #4cd137;
$box-color: rgba(0, 0, 0, 0.1);

/* Font sizes */
$main-font-size: 16px;
$paragraph-font-size: 18px;
$paragraph-size: 14px;
$font-size: 20px;

/* Fonts */
$brand-font:'Roboto',sans-serif;
