/* kalendarz */

.calendar {
  box-shadow: 2px 2px 5px none;
  margin: 0 auto;
  display: inline-block;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

form {
  padding-bottom: 8px;
  display: flex;
}

input[type="date"] {
  position: relative;
  border-radius: 6px;
  border: 1px solid $brand-main-color;
  display: flex;
  width: 220px;
  height: 47px;
  font-size: 14px;
  padding-left: 16px;
  color: #2d3436;
}

#icons_calendar {
  margin-left: 190px;
  margin-top: -35px;
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  fill: $color;

  &:hover {
    fill: $paragraph-color;
    cursor: pointer;
  }
}

.buttons-grey {
  width: 35px;
  height: 35px;
  margin-left: 6px;
  margin-top: 2px;

  #icons_refresh {
    width: 18px;
    margin-left: -8px;
    fill: $background;

    &:hover {
      fill: $brand-main-color;
      cursor: pointer;
    }
  }
}

@media (max-width: 600px) {

  .calendar {
    display: block;
  }

  form {
    display: block;
  }

  input[type="date"] {
    display: block;
    width: 130px;
    height: 37px;
  }

  .buttons-grey {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 137px;
    margin-top: -60px;
  }

  #icons_calendar {
    margin-left: 111px;
    margin-top: -27px;
    position: absolute;
    width: 15px;
    height: 15px;
  }

  #icons_refresh:hover {
    fill: none;
  }
}