.valuation {
    border-bottom: 1px solid $brand-main-color;
    width: 100%;
  }
  
  .details th {
    color: $color;
    font-size: 16px;
    padding-top: 58px;
    padding-bottom: 18px;
    transform: translateX(3vw);
  
    &:nth-child(5) {
      padding-left: 2px;
    }
  
    &:nth-child(7) {
      transform: translateX(2vw);
    }
  
    &:nth-child(8) {
      padding-left: -1px;
    }
  
    &:nth-child(10) {
      transform: translateX(3.5vw);
    }
  
    &:nth-child(11) {
      transform: translateX(4vw);
    }
  }
  
  .details {
    font-size: 14px;
    text-align: center;
    color: $background-navigation;
    border-bottom: 1px solid $background;
    border-collapse: collapse;
    padding: 0;
    border-top: 1px solid $brand-main-color;
  }
  
  .table-details {
    border-bottom: 1px solid $color;
  
    th, td {
  
      padding-left: 80px;
      padding-top: 30px;
      border-bottom: 1px solid $brand-main-color;
    }
  }
  
  @media (max-width:600px) {
  
    .scroll-wrapper {
        display: block;
        width: 100%;
        overflow-x: scroll;
        overflow-y: scroll;
    }
  
    .scroll-wrapper table {
        width: 100%;
        max-width: 100%;
    }
  
    .table_details {
        display: block;
        overflow: hidden;
    }
  
    td,
    th {
        padding: 1em .45em;
        vertical-align: middle;
    }
  }
  
  @media (max-width:768px) {
    .scroll-wrapper {
        display: block;
        width: 100%;
        overflow-x: scroll;
        overflow-y: scroll;
    }
  
    .scroll-wrapper table {
        width: 100%;
        max-width: 100%;
    }
  
    .table_details {
        display: block;
        overflow: hidden;
    }
  
    td,
    th {
        padding: 1em .45em;
        vertical-align: middle;
    }
  }