.sidebar {
  overflow: hidden;
  position: fixed;
  padding-top: 5px;
  top: 0;
  width: 200px;
  height: 180%;
  background: $background-navigation;
  transition: all 500ms linear;
  z-index: 2;
}

.sidebar.active {
  width: 70px;
  height: 70px;
  transition: 2s;
  transition-delay:500ms;
  background: $brand-main-color;
}

.sidebar.active ul li a {
  display: none;
}

.sidebar.active .logo {
  display: none;
}

.sidebar {
  .logo {
    padding: 20px 20px;
    display: inline;
  }

  .active h3 {
    display: none;
  }
}

.active span {
  display: block;
  width: 20px;
  height: 5px;
  background: $background-navigation;
  margin: auto;
}

.active .contact {
  display: none;
}

.sidebar {

  .toggle-btn {
    cursor: pointer;
    float: right;

    span {
      display: block;
      width: 30px;
      height: 3px;
      background: $background;
      margin: 3px 0;
    }
  }
}

/* list menu */
.sidebar ul {
  display: block;
  margin-top: 25px;
  margin-left: -15px;
}

.sidebar li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 11px;
  display: block;
}

.sidebar a {
  margin-bottom: -10px;
  display: flex;
  display: nowrap;
  color: $color;
  font-size: $main-font-size;
  font-weight: 400;
  line-height: 42px;
  height: 48px;
}

.sidebar a:hover {
  color: $paragraph-color;
}

.nav-menu {
  display: flex;
  display: nowrap;
  width: 16px;
  height: 35px;
  fill: $color;

  &:hover {
    color: $paragraph-color;
  }
}

.vector-icons {
  transition: margin-left .1s;
  margin-left: 18px;
  font-size: 14px;
  line-height: 38px;
}

/*hamburger button*/
.button-container {
  display: inline-block;
  width: 100%;
  padding: 20px 10px 10px;
}

.button-container h3 {
  display: inline;
}

/* for media */ 

@media (max-width: 600px) {

  /* sidebar */
  .sidebar {
    width: 100%;
    display: flex;
    margin: 0;

    .sidebar.active {
      width: 20px;
      height: 20px;
      transition: 2s;
    }
  }
}